## Taller de Programación en Python
### Profesor: Lucas Gómez Tobón

## Ejercicios 4. Introducción a Pandas

0. Descargue los archivos `encuesta_hogares1.csv`, `encuesta_hogares2.csv`, `info_accidentes.xlsx` e `info_accidentes.csv`. Pongalos en una carpeta

1. Utilice el paquete `os` y las funciones `os.getcwd()` y `os.chdir()` para revisar cuál es su directorio y cambiarlo para aquel en donde guardó los archivos del punto `0`. Utilice la función `os.listdir()` para listar los archivos dentro de su directorio. Debería encontrar a `encuesta_hogares1.csv`, `encuesta_hogares2.csv`, `info_accidentes.xlsx` e `info_accidentes.csv` allí.

In [1]:
# Importe la librería
import os

In [2]:
# ¿Cuál es su directorio actual?
os.getcwd()

'c:\\Users\\Lucas\\OneDrive - Universidad de los Andes\\Complementarias\\Proyectos de analítica en Python\\Intro_Python\\Introducción al Análisis de Datos en Python\\Modulo 2. Pandas\\Scripts'

In [6]:
# Defina su directorio
os.chdir("C:\\Users\\Lucas\\Downloads\\Datos")
# Defina su directorio
os.chdir("C:/Users/Lucas/Downloads/Datos")
# Defina su directorio
os.chdir(r"C:\Users\Lucas\Downloads\Datos")

In [10]:
# Listar archivos del directorio
os.getcwd()
os.listdir()

['encuesta_hogares1.csv',
 'encuesta_hogares2.csv',
 'info_accidentes.csv',
 'info_accidentes.xlsx']

---

2. Importe la librería `pandas`. Haciendo uso de `pd.read_csv()`, importe `encuesta_hogares1.csv`.

In [12]:
# Importar pandas
import pandas as pd

In [13]:
# Importar csv
encuesta1 = pd.read_csv('encuesta_hogares1.csv')
encuesta1

     DIRECTORIO  HOGAR_NUMERO  PERSONA_NUMERO  edad  sexo
0         36228             1               2    53     2
1         36252             1               2    64     2
2         36281             1               2    88     2
3         36297             1               2    25     2
4         36313             1               1    66     2
..          ...           ...             ...   ...   ...
245       43574             1               2    35     2
246       43580             1               4    21     2
247       43591             1               2    24     2
248       43626             1               3    22     2
249       43643             1               1    29     1

[250 rows x 5 columns]

3. ¿Cuántas observaciones y columnas tiene la base de datos?

4. ¿Cuáles son los nombres de las columnas?

5. Visualice las primeras 5 filas de la base de datos.

6. Visualice las últimas 6 filas de la base de datos.

7. Muestre la información de las variables (nombre, número de entradas no nulas, tipo)

8. Muestre una tabla con las estadísticas descriptivas de las variables.

9. ¿Cuántos hombres y mujeres hay en la base? (Suponga que `sexo = 1` es hombre y `sexo = 2` es mujer)

10. Si `HOGAR_NUMERO` es un identificador único de hogar. ¿Cuántos hogares hay en la base?

11. ¿Cuántos menores de edad hay en la base?

12. Ahora importe `encuesta_hogares2.csv`.

13. Use la función `pd.concat()` para concatenar `encuesta_hogares1` y `encuesta_hogares2` por filas.

---

14. Importe la base de datos `info_accidentes.xlsx`.

15. Realice una inspección general de la base para entender su estructura.

16. ¿Cuántos accidentes hay registrados con muertos en la base de datos?

17. ¿Cuántos accidentes hay registrados con heridos en la base de datos?

18. ¿Notó que el Excel tenía dos hojas? Asegúrese de importar ambas hojas del Excel como dos dataframes independientes.

19. Convierta a strings las columnas de `Dirección` y `Fecha`.

20. Haga un `inner join` entre accidentes1 (hoja 1: "parteA") y accidentes2 (hoja 2: "parteB") usando la función `pd.merge()`. Utilice las columnas `Dirección` y `Fecha` como llaves.

21. ¿Cuantos accidentes hubo en Santa Fe? ¿Cuántos con muertos y cuántos con heridos?

22. Explore la columna TipoTiempo, ¿Cuál es la categoría en la que más ocurren accidentes?