## Taller de Programación en Python
### Profesor: Lucas Gómez Tobón

## Ejercicios 4. Introducción a Pandas

0. Descargue los archivos `encuesta_hogares1.csv`, `encuesta_hogares2.csv`, `info_accidentes.xlsx` e `info_accidentes.csv`. Pongalos en una carpeta

1. Utilice el paquete `os` y las funciones `os.getcwd()` y `os.chdir()` para revisar cuál es su directorio y cambiarlo para aquel en donde guardó los archivos del punto `0`. Utilice la función `os.listdir()` para listar los archivos dentro de su directorio. Debería encontrar a `encuesta_hogares1.csv`, `encuesta_hogares2.csv`, `info_accidentes.xlsx` e `info_accidentes.csv` allí.

In [2]:
# Importe la librería
import os

In [4]:
# ¿Cuál es su directorio actual?
os.getcwd()

'c:\\Users\\Lucas\\OneDrive - Universidad de los Andes\\Complementarias\\Proyectos de analítica en Python\\Intro_Python\\Introducción al Análisis de Datos en Python\\Modulo 2. Pandas\\Scripts'

In [5]:
# Defina su directorio
os.chdir("../Datos")

In [6]:
# Listar archivos del directorio
os.listdir()

['encuesta_hogares1.csv',
 'encuesta_hogares2.csv',
 'info_accidentes.csv',
 'info_accidentes.xlsx']

---

2. Importe la librería `pandas`. Haciendo uso de `pd.read_csv()`, importe `encuesta_hogares1.csv`.

In [9]:
# Importar pandas
import pandas as pd

In [10]:
# Importar csv
encuesta = pd.read_csv('encuesta_hogares1.csv')

3. ¿Cuántas observaciones y columnas tiene la base de datos?

In [11]:
encuesta.shape

(250, 5)

4. ¿Cuáles son los nombres de las columnas?

In [12]:
encuesta.columns

Index(['DIRECTORIO', 'HOGAR_NUMERO', 'PERSONA_NUMERO', 'edad', 'sexo'], dtype='object')

5. Visualice las primeras 5 filas de la base de datos.

In [13]:
encuesta.head()

   DIRECTORIO  HOGAR_NUMERO  PERSONA_NUMERO  edad  sexo
0       36228             1               2    53     2
1       36252             1               2    64     2
2       36281             1               2    88     2
3       36297             1               2    25     2
4       36313             1               1    66     2

6. Visualice las últimas 6 filas de la base de datos.

In [14]:
encuesta.tail(6)

     DIRECTORIO  HOGAR_NUMERO  PERSONA_NUMERO  edad  sexo
244       43547             1               2    34     2
245       43574             1               2    35     2
246       43580             1               4    21     2
247       43591             1               2    24     2
248       43626             1               3    22     2
249       43643             1               1    29     1

7. Muestre la información de las variables (nombre, número de entradas no nulas, tipo)

In [15]:
encuesta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DIRECTORIO      250 non-null    int64
 1   HOGAR_NUMERO    250 non-null    int64
 2   PERSONA_NUMERO  250 non-null    int64
 3   edad            250 non-null    int64
 4   sexo            250 non-null    int64
dtypes: int64(5)
memory usage: 9.9 KB

8. Muestre una tabla con las estadísticas descriptivas de las variables.

In [16]:
encuesta.describe()

         DIRECTORIO  HOGAR_NUMERO  PERSONA_NUMERO        edad        sexo
count    250.000000    250.000000      250.000000  250.000000  250.000000
mean   39574.216000      1.008000        1.984000   43.076000    1.588000
std     2037.378233      0.089263        1.154589   17.792823    0.493182
min    36228.000000      1.000000        1.000000   18.000000    1.000000
25%    37828.750000      1.000000        1.000000   28.000000    1.000000
50%    39545.000000      1.000000        2.000000   41.000000    2.000000
75%    41195.250000      1.000000        2.000000   56.000000    2.000000
max    43643.000000      2.000000        6.000000   96.000000    2.000000

9. ¿Cuántos hombres y mujeres hay en la base? (Suponga que `sexo = 1` es hombre y `sexo = 2` es mujer)

In [17]:
encuesta["sexo"].value_counts()

sexo
2    147
1    103
Name: count, dtype: int64

10. Si `HOGAR_NUMERO` es un identificador único de hogar. ¿Cuántos hogares hay en la base?

In [20]:
len(encuesta["HOGAR_NUMERO"].unique())

2

11. ¿Cuántos menores de edad hay en la base?

In [21]:
(encuesta["edad"] < 18).sum()

0

12. Ahora importe `encuesta_hogares2.csv`.

In [30]:
encuesta1 = pd.read_csv('encuesta_hogares1.csv') 
encuesta2 = pd.read_csv('encuesta_hogares2.csv')

13. Use la función `pd.concat()` para concatenar `encuesta_hogares1` y `encuesta_hogares2` por filas.

In [31]:
encuesta = pd.concat([encuesta1, encuesta2], axis = 0)
encuesta

     DIRECTORIO  HOGAR_NUMERO  PERSONA_NUMERO  edad  sexo
0         36228             1               2    53     2
1         36252             1               2    64     2
2         36281             1               2    88     2
3         36297             1               2    25     2
4         36313             1               1    66     2
..          ...           ...             ...   ...   ...
245       52877             1               1    28     1
246       52914             1               1    27     1
247       52920             1               1    37     1
248       52940             1               1    32     2
249       53216             1               1    50     2

[500 rows x 5 columns]

---

14. Importe la base de datos `info_accidentes.xlsx`.

In [32]:
# Importar excel
info_accidentes = pd.read_excel('info_accidentes.xlsx')

15. Realice una inspección general de la base para entender su estructura.

In [33]:
info_accidentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34931 entries, 0 to 34930
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             34931 non-null  object
 1   GravedadNombre    34931 non-null  object
 2   ClaseNombre       34931 non-null  object
 3   ChoqueNombre      34931 non-null  object
 4   ObjetoFijoCodigo  34931 non-null  object
 5   ObjetoFijoNombre  34931 non-null  object
 6   OtraClase         34931 non-null  object
 7   NombreOtraClase   34931 non-null  object
 8   Latitud           34931 non-null  float64
 9   Longitud          34931 non-null  float64
 10  Direccion         34931 non-null  object
dtypes: float64(2), object(9)
memory usage: 2.9+ MB

16. ¿Cuántos accidentes hay registrados con muertos en la base de datos?

In [34]:
info_accidentes["GravedadNombre"].unique()

array(['Con Heridos', 'Solo Daños', 'Con Muertos'], dtype=object)

In [35]:
(info_accidentes["GravedadNombre"] == 'Con Muertos').sum()

555

17. ¿Cuántos accidentes hay registrados con heridos en la base de datos?

In [36]:
(info_accidentes["GravedadNombre"] == 'Con Heridos').sum()

10558

18. ¿Notó que el Excel tenía dos hojas? Asegúrese de importar ambas hojas del Excel como dos dataframes independientes.

In [38]:
# importe la hoja parteA de info_accidentes.xlsx
accidentes1 = pd.read_excel('info_accidentes.xlsx', sheet_name = 'parteA') 
# importe la hoja parteB de info_accidentes.xlsx
accidentes2 = pd.read_excel('info_accidentes.xlsx', sheet_name = 'parteB')

19. Convierta a strings las columnas de `Dirección` y `Fecha`.

In [39]:
# Convierta a strings las direcciones y fechas
accidentes1['Direccion'] = accidentes1['Direccion'].astype(str) 
accidentes1['Fecha'] = accidentes1['Fecha'].astype(str)
accidentes2['Direccion'] = accidentes2['Direccion'].astype(str)
accidentes2['Fecha'] = accidentes2['Fecha'].astype(str)

20. Haga un `inner join` entre accidentes1 (hoja 1: "parteA") y accidentes2 (hoja 2: "parteB") usando la función `pd.merge()`. Utilice las columnas `Dirección` y `Fecha` como llaves.

In [40]:
accidentes = pd.merge(accidentes1, accidentes2, on = ['Direccion', 'Fecha'])

21. ¿Cuantos accidentes hubo en Santa Fe? ¿Cuántos con muertos y cuántos con heridos?

In [41]:
accidentes[accidentes['Localidad'] == "SANTA FE"].shape

(974, 25)

In [42]:
accidentes.loc[accidentes['Localidad'] == "SANTA FE", "GravedadNombre"].value_counts()

GravedadNombre
Solo Daños     611
Con Heridos    347
Con Muertos     16
Name: count, dtype: int64

22. Explore la columna TipoTiempo, ¿Cuál es la categoría en la que más ocurren accidentes?

In [43]:
accidentes["TipoTiempo"].value_counts(dropna = False)

TipoTiempo
Normal           34067
Lluvia            1246
Viento              43
Niebla              35
                    10
Normal/Normal       10
Lluvia/Normal        7
Lluvia/Lluvia        2
Normal/Lluvia        2
Viento/Normal        1
Name: count, dtype: int64