# **Introducción al análisis de datos en Python** 
#### Profesor: Lucas Gómez Tobón

## Ejercicios 5. Continuación de Pandas

1. Importe los dos csvs de encuestas: `encuesta_hogares1.csv` y `encuesta_hogares2.csv`

2. Inspeccione sus datos

3. ¿Qué tipo de pegue podría hacer?

4. Realice el pegue que definió anteriormente

5. Importe la hoja parteA de `info_accidentes.xlsx`

6. Importe la hoja parteB de `info_accidentes.xlsx`

7. Inspecciones ambas bases

8. Defina las variables que serán las llaves de su pegue y luego unifiqueles el formato/tipo.

9. Realice un *inner_join*

10. Guarde el resultado del pegue como un `pickle` comprimido en un `gzip`.

11. Para todas las variables de tipo `object` visualice un conteo de los valores únicos siempre y cuando haya menos de 20 valores únicos.

12. ¿Cuántos muertos y heridos se tiene por Localidad?

13. ¿Cuántos eventos hubo por Tipo de Diseño?

14. Muestre la suma de muertos y heridos por localidad y tipo de diseño

15. Muestre la suma y la desviación estándar de muertos y heridos por localidad y tipo de diseño

14. **Manipulación de fechas.** Note que cuando inspeccionamos nuestra base, las columnas `Fecha` y `HoraOcurrencia` son de tipo `object` o sea texto. Sin embargo, las fechas tienen un tipo particular en `pandas` y para poder operar correctamente estas columnas, debemos formatearlas en tipo `datetime`.

In [69]:
accidentes[["Fecha", "HoraOcurrencia"]].head()

                    Fecha          HoraOcurrencia
0  01/13/2016 12:00:00 AM  12/31/1899 10:30:00 PM
1     2016-12-01 00:00:00  12/31/1899 03:40:00 PM
2  01/13/2016 12:00:00 AM  12/31/1899 07:20:00 AM
3  01/17/2016 12:00:00 AM  12/31/1899 06:10:00 AM
4  01/18/2016 12:00:00 AM  12/31/1899 05:00:00 PM

In [70]:
accidentes[["Fecha", "HoraOcurrencia"]].dtypes

Fecha             object
HoraOcurrencia    object
dtype: object

Note que en la variable `Fecha` la hora por default es 12:00 AM. La hora como tal del evento está consignada en la variable `HoraOcurrencia`. Sin embargo, en esa variable la fecha está mal.

Primero codifiquemos la fecha, es lo más fácil. Usando la función `pd.to_datetime()` tenemos la ventaja de que Python infiere el formato de la fecha.

In [74]:
accidentes["Fecha"] = pd.to_datetime(accidentes["Fecha"])
accidentes["Fecha"]

C:\Users\Lucas\AppData\Local\Temp\ipykernel_13512\4127640232.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  accidentes["Fecha"] = pd.to_datetime(accidentes["Fecha"])

0       2016-01-13
1       2016-12-01
2       2016-01-13
3       2016-01-17
4       2016-01-18
           ...
35418   2016-12-31
35419   2016-12-29
35420   2016-12-30
35421   2016-12-30
35422   2016-12-31
Name: Fecha, Length: 35423, dtype: datetime64[ns]

In [75]:
# Podemos extraer elementos relevantes. Número del día
accidentes["Fecha"].dt.day

0        13
1         1
2        13
3        17
4        18
         ..
35418    31
35419    29
35420    30
35421    30
35422    31
Name: Fecha, Length: 35423, dtype: int32

In [76]:
# ¿Qué día de la semana es? 
accidentes["Fecha"].dt.day_of_week

0        2
1        3
2        2
3        6
4        0
        ..
35418    5
35419    3
35420    4
35421    4
35422    5
Name: Fecha, Length: 35423, dtype: int32

In [77]:
# 0 - Lunes
# 1 - Martes
# 2 - Miércoles
# 3 - Jueves
# 4 - Viernes
# 5 - Sábado
# 6 - Domingo
pd.to_datetime("2023-03-30").day_of_week

3

In [78]:
# ¿Qué día del año es?
accidentes["Fecha"].dt.day_of_year

0         13
1        336
2         13
3         17
4         18
        ...
35418    366
35419    364
35420    365
35421    365
35422    366
Name: Fecha, Length: 35423, dtype: int32

In [79]:
# Primer día del año: 1
pd.to_datetime("2023-01-01").day_of_year

1

In [80]:
# Último día del año no bisiesto: 365
pd.to_datetime("2023-12-31").day_of_year

365

In [81]:
# Último día del año bisiesto: 366
pd.to_datetime("2020-12-31").day_of_year

366

In [82]:
# ¿Cuántos días hay en el mes?
accidentes["Fecha"].dt.days_in_month

0        31
1        31
2        31
3        31
4        31
         ..
35418    31
35419    31
35420    31
35421    31
35422    31
Name: Fecha, Length: 35423, dtype: int32

In [83]:
pd.to_datetime("2023-01-01").days_in_month

31

In [84]:
pd.to_datetime("2023-02-01").days_in_month

28

In [85]:
pd.to_datetime("2023-04-01").days_in_month

30

In [86]:
# Nombre del día
accidentes["Fecha"].dt.day_name()

0        Wednesday
1         Thursday
2        Wednesday
3           Sunday
4           Monday
           ...
35418     Saturday
35419     Thursday
35420       Friday
35421       Friday
35422     Saturday
Name: Fecha, Length: 35423, dtype: object

In [87]:
# Extraer mes
accidentes["Fecha"].dt.month

0         1
1        12
2         1
3         1
4         1
         ..
35418    12
35419    12
35420    12
35421    12
35422    12
Name: Fecha, Length: 35423, dtype: int32

In [88]:
# Extraer nombre del mes
accidentes["Fecha"].dt.month_name()

0         January
1        December
2         January
3         January
4         January
           ...
35418    December
35419    December
35420    December
35421    December
35422    December
Name: Fecha, Length: 35423, dtype: object

In [89]:
# Extraer año
accidentes["Fecha"].dt.year

0        2016
1        2016
2        2016
3        2016
4        2016
         ...
35418    2016
35419    2016
35420    2016
35421    2016
35422    2016
Name: Fecha, Length: 35423, dtype: int32

In [90]:
# Se puede extraer la semana del año
accidentes["Fecha"].dt.isocalendar()

       year  week  day
0      2016     2    3
1      2016    48    4
2      2016     2    3
3      2016     2    7
4      2016     3    1
...     ...   ...  ...
35418  2016    52    6
35419  2016    52    4
35420  2016    52    5
35421  2016    52    5
35422  2016    52    6

[35423 rows x 3 columns]

In [91]:
accidentes["Fecha"].dt.isocalendar().week

0         2
1        48
2         2
3         2
4         3
         ..
35418    52
35419    52
35420    52
35421    52
35422    52
Name: week, Length: 35423, dtype: UInt32

15. ¿Cuántos accidentes hubo por mes?

16. ¿Cuántos accidentes hubo por día de la semana? ¿Cuántos muertos y heridos?

17. Construya en la base accidentes la columna que indique si es fin de semana o no.

18. Muestre el número de accidentes por si fue en fin de semana y Gravedad del accidente

19. Ahora vamos a formatear la hora

In [ ]:
accidentes["HoraOcurrencia"] = pd.to_datetime(accidentes["HoraOcurrencia"])
accidentes["HoraOcurrencia"]

Note que la fecha está errada entonces nos vamos a deshacer de ella

In [98]:
# Debemos definir el formato de horas que queremos
accidentes["HoraOcurrencia2"] = accidentes["HoraOcurrencia"].dt.strftime('%H:%M:%S')
accidentes["HoraOcurrencia2"] # Note que la columna se volvió un object

0        22:30:00
1        15:40:00
2        07:20:00
3        06:10:00
4        17:00:00
           ...
35418    13:20:00
35419    17:20:00
35420    05:10:00
35421    09:00:00
35422    12:00:00
Name: HoraOcurrencia2, Length: 35423, dtype: object

In [99]:
accidentes["HoraOcurrencia"].dt.minute

0        30
1        40
2        20
3        10
4         0
         ..
35418    20
35419    20
35420    10
35421     0
35422     0
Name: HoraOcurrencia, Length: 35423, dtype: int32

In [100]:
accidentes["HoraOcurrencia"].dt.second

0        0
1        0
2        0
3        0
4        0
        ..
35418    0
35419    0
35420    0
35421    0
35422    0
Name: HoraOcurrencia, Length: 35423, dtype: int32

Note que cuando convertimos la columna en `object` ya no podemos acceder a los elementos relevantes de la fecha porque el objeto se vuelve de tipo texto (string).

In [103]:
accidentes["HoraOcurrencia2"].dt.hour

AttributeError: Can only use .dt accessor with datetimelike values